@(name: Option[String], accountForm: Form[(String, String)])

@_template("Login") {
        @if(name.isEmpty) {
            @helper.form(action = routes.Application.login) {
                <label>
                    アカウント名
                    <input type="text" name="name" value="abc" />
                </label>
                <label>
                    パスワード
                    <input type="password" name="password" value="def" />
                </label>
                <input type="submit" value="ログイン" />
            }
        } else {
            あなたは@name.getとしてloginしています
            @helper.form(action = routes.Application.logout) {
                <input type="submit" value="ログアウト" />
            }
        }
}
