@(name: Option[String])

@_template("Login") {
        @if(name.isEmpty) {
            <form action="/login" method="post">
                <label>
                    アカウント名
                    <input type="text" name="name" value="abc" />
                </label>
                <label>
                    パスワード
                    <input type="password" name="password" value="def" />
                </label>
                <input type="submit" />
            </form>
        } else {
            あなたは@name.getとしてloginしています
        }
}
