@(name: Option[String], accountForm: Form[(String, String)])

@_template("Login") {
        @if(name.isEmpty) {
            @helper.form(action = routes.Application.login) {
                @helper.inputText(accountForm("name"), '_label -> "アカウント名")
                @helper.inputPassword(accountForm("password"), '_label -> "パスワード")
                <input type="submit" value="ログイン" />
            }
        } else {
            あなたは@name.getとしてloginしています
            @helper.form(action = routes.Application.logout) {
                <input type="submit" value="ログアウト" />
            }
        }
}
